/**** CSS FOR ALL PAGES- GENERIC****/
* {
  box-sizing: border-box;
}

/* ------------------
        FONTS 
----------------- --*/
body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-weight: bolder;
  font-size: 50px;
  color: #393939;
  letter-spacing: 1.67px;
  text-align: left;
}

h2 {
  
  font-size: 60px;
  color: #282828;
  letter-spacing: 0.67px;
}

h3 {
  
  font-size: 20px;
  color: #393939;
  
}

p, a, li {
  font-weight: 500;
  font-size: 16px;
  color: #282828;
  letter-spacing: 0.67px;
  line-height: 30px;
}

a { 
  text-decoration: none;
}
.accent-text {
  color: #536CFF;
}

/* FONT END */

/* ------------------
GENERAL CUSTOMISATION
----------------- --*/
.container {
  margin-left: 6%;
  margin-right: 6%;
}

/* ------------------
      HEADER
----------------- --*/
.hero {
background-image:   linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/adventure.jpg");
}

/* ------------------
      NAV BAR 
----------------- --*/
nav {
  display: flex;
  padding-top: 20px;
  margin-left: 11%;
  margin-right: 11%;
}

.logo {
  max-height: 40px;
  margin-top: 10px;
}

.nav-mobile {
  display: none;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 97%;
  margin-left: 37px;
  list-style-type: none;
}
body > div.container > div.hero > header > nav > ul > li {
  padding-left: 10px;
  padding-right: 10px;
}

nav a {
  text-decoration: none;
  padding-right: 10px;  
  padding-left: 12px;
}
.main-nav a {
  color: #fff;
}
/* for secondary pages */
.main-nav-secondary a{
  color: #282828;
}

/* ------------------
      HERO CANVAS
----------------- --*/
.hero-canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: 26%;
  padding-top: 15%;
  padding-bottom: 10%;
}


.hero-title {
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
}

.hero-button {
  width: 136px;
  align-self: center;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #ffe653;
  border: none;
  font-size: 14px;
}

/* ------------------
      BODY 
----------------- --*/
.row {
  display: flex;
  height: auto;
}

.set-row {
  height: 450px;
}
.margin-top-row {
  margin-top: 50px;
}

.col-12 {
  width: 100%;
}
.col-8 {
  width: 66.66%;
}
.col-6 {
  width: 50%;
}
.col-4 {
  width: 33.33%;
}
.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66%;
}
.center-text {
  text-align: center;
}

.button-body {
  width: 136px;
    align-self: center;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #ffe653;
    border: none;
}
/* Row 1 */
.text-1 {
  padding-right: 105px;
}
.col-6.text-1 > div > h2 {
  text-transform: capitalize;
}
.image-1 {
  background-image: url("./img/hotel-room.jpg");
  background-position: 50% 33%;
    background-size: 109%;
    background-repeat: no-repeat;
    max-width: 500px;
    margin-left: 270px;
}
/*.body-image-1 {
  max-width: 50%;
} */


/* Row 2 */
.image-2 {
  background-image: url("./img/brisbane.jpg");
  background-position: 50% 33%;
    background-size: 109%;
    background-repeat: no-repeat;
    max-width: 500px;
    margin-right: 270px;
}
.text-2 {
  padding-left: 70px;
}

.col-6.text-2 > div > h2 {
  text-transform: capitalize;
}

.home-space {
  height: 80px;
}
/* ------------------
      FOOTER
----------------- --*/
footer {
  display: flex;
  height: 300px;
  border-top: 1px gray solid;
}

.white-box {
  width: 70%;
  background-color: #ffffff;
  padding-top: 40px;
  padding-left: 200px;
}

.white-box > h3 {
  color: #393939;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.input-subscribe {
  width: 300px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.footer-button {
  width: 136px;
  align-self: center;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: -4px;
  background-color: #ffe653 ;
  border: none;
  font-size: 14px;
}
.social-media-icons {
  padding-top: 40px;
}
.icon-footer {
  padding-left: 10px;
  padding-right: 10px;
}
  
.yellow-box {
  width: 30%;
  background-color: #ffe653;
  padding-top: 40px;
  padding-left: 155px;
}
.yellow-box> h3 {
  color: #393939;
  text-align: left;
  font-size: 20px;
  font-weight: bold;

}

/* ------------------
      ABOUT
----------------- --*/
.about-image-1 {
  background-image: url(./img/australia.jpg);
    background-position: 44% 60%;
    background-size: 100%;
    background-repeat: no-repeat;
}
.about-image-2 {
  background-image: url(./img/packing.jpg);
    background-position: 68% 60%;
    background-size: 131%;
    background-repeat: no-repeat;

}

.values-section h2 {
  text-align: center;
  margin-bottom: 0;
}
.values-section h3 {
  text-align: center;
  margin-top: 0;
}
.row-column {
  flex-direction: column;
}
.three-section {
  display: flex;
}
.three-section > div > h4 {
  text-align: center;
}
.three-section > div > p {
  text-align: center;
}

/* ------------------
      WRITE YOUR REVIEW
----------------- --*/

.col-12.feedback-title > h2 {
  margin-bottom: 0;
  text-align: center;
}

.col-12.feedback-title > h3 {
  margin-top: 0;
  text-align: center;
}
.empty-col {
  background-color: rgba(255, 255, 255, 0.3);
}

/* -- FORM --*/
.feedback-form input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px #e4e4e4 solid;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #282828;
}
.auto-row {
  height: auto ;
  padding-bottom: 40px;
}
.feedback-form label {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #282828;
  letter-spacing: 0.67px;
  line-height: 30px;
  margin-top: 10px;
}
.submit-button {
  width: 136px;
  align-self: center;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #ffe653;
  border-color: #ffe653 !important;
  font-size: 14px;
}
textarea, select {
  width: 100%;
  border: 1px #e4e4e4 solid;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #282828;
  background-color: transparent;
}
select {
  padding-top: 10px;
  padding-bottom: 10px;
}
div.field-group {
  margin-top: 15px;
  margin-bottom: 10px;
}
.feedback-image-1{
  background-image: url(./img/plane.jpg);
    background-position: 44% 60%;
    background-size: 100%;
    background-repeat: no-repeat;
}

/* ------------------
      CONTACT
----------------- --*/

.hero-contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/spa.jpeg");
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contact-title {
  padding-top: 50px;
}
.contact-title > h2, .contact-title > h3 {
  color: #fff;
  font-weight: 450;
  text-align: center;
}
.contact-title > h2 {
  margin-bottom: 0;
}
.contact-card {
  text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.right-left-border {
  border-left: 1px #e4e4e4 solid;
  border-right: 1px #e4e4e4 solid;
}

.blue-icon {
  color: #536CFF;
  font-size: 30px;
  text-align: center;
}

/* ------------------
      REVIEW
----------------- --*/
.review-container {
  display: flex;
  /* flex-direction: row; */
  justify-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post-1, .post-2, .post-3, .post-3, .post-4, .post-5, .post-6, .post-7, .post-8 {
  width: 300px;
  height: 400px;
  flex-grow: 1;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.post-img {
  height: 180px;
  object-fit: cover;
  width: 100%;
}
.post-title {
  text-align: center;
}
.post-text {
  font-size: 14px;
  letter-spacing: 1px;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}
.more-link {
  border-bottom: 1px #282828 solid;
}